<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
              <!-- favicon -->
              <link rel='icon' href='<%= bot.avatar %>' type='image/x-icon' sizes="16x16" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link rel="stylesheet" href="/index.css">        
        <link rel="stylesheet" href="/commands.css">
        <link rel="stylesheet" href="/firefly.css">
        <title><%= bot.name %> Developers</title> 
                <!-- FIREFLY ANIMATION -->
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>  
    </head>

    <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

      <%- include('header'); -%>
      <div class="d-flex justify-content-center command_head">
      <h1> Developers </h1>
      </div>
          <div class="d-flex justify-content-center subtextalt">
          <p><strong>The head honchos, these people make the bot tick!</strong></p>
        </div>
        <div class="container">
 <div class="row justify-content-center">
     <div class="col-sm-3">
    <div class="card h-60 bg-danger border-danger text-center border-5 mb-3">
       <img src="https://cdn.discordapp.com/avatars/703865541248679956/2bb5243dc4ada7704fbb8e515e1415f8.png" class="rounded-circle text-center" alt="iya">
      <div class="card-body">
      <br>
        <p class="card-header" onclick="window.location.replace('https://github.com/IYR3775')">IYA#2802</p>
      </div>
    </div>
  </div>
      <div class="col-sm-3">
    <div class="card h-60 bg-danger border-danger text-center border-5 mb-3">
      <!--looks better not center and at the original scale hmmmm-->
<img src="https://cdn.discordapp.com/avatars/460078206326800434/a_0c725e77bba7940c693e06198555219e.gif" class="rounded-circle" alt="liaam">
      <div class="card-body">
      <br>
        <p class="card-header">Liaamm#7777</p>
      </div>
    </div>
  </div>
</div>
</div>

    </body>
     <%- include('footer'); -%>
</html>