<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' rel='stylesheet'>
<br>
<section class="fwooter">
  <footer class="text-center text-white" style="background-color: #7289DA;">
    <div class="container p-4 pb-0 mb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <a type="button" class="btn btn-outline-light btn-rounded" href="/legal">
            Terms of Service & Privacy Policy
          </a>
        </p>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      2022 Pwetzel Development
    </div>

  </footer>
</section>