<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
              <!-- favicon -->
              <link rel='icon' href='<%= bot.avatar %>' type='image/x-icon' sizes="16x16" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link rel="stylesheet" href="/index.css">        
        <link rel="stylesheet" href="/commands.css">
        <link rel="stylesheet" href="/firefly.css">
        <title><%= bot.name %> - legal</title> 
                <!-- FIREFLY ANIMATION -->
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>  
    </head>

    <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

      <%- include('header'); -%>
      <div class="d-flex justify-content-center command_head">
      <h1 style=max-width:90%;text-align:center;>Terms of Service & Privacy Policy</h1>
      </div>
        <center><sub>Legal mumbo jumbo, Dont be evil!</sub></center>
      <div class="container code">
        <style>.boxxed { background-color: black; color: white; boarder-style: solid; }  </style>
        <code class="code">WHAT INFORMATION DO WE COLLECT & HOW IS IT USED?<br><br>
Information You Voluntarily Submit to the Service: We collect Personal Data from you when you voluntarily provide such information, such as when you contact us with inquiries, register for access to the service or purchase products or services from us. Personal Data may include, but is not limited to, the below: Your Discord Username, Your Discord Identifier, and Interactions with the bot and websites Our legal basis for processing this information is your consent, and by voluntarily providing us with Personal Data, you are consenting to our use of it in accordance with this Privacy Policy. If you provide Personal Data to us
 </code>
 </div>
 <br>
       <div class="container code">
 <code class='code'>HOW YOUR PERSONAL INFORMATION MAY BE USED<br><br>
Pwetzel  (the “Related Individuals”), may use your personal information to do the actions requested and function as intended 
 
What we expect from you
We want to maintain a respectful environment for everyone, which means you must follow these basic rules of conduct:
comply with applicable laws, including export control, sanctions, and human trafficking laws
respect the rights of others, including privacy and intellectual property rights
don’t abuse or harm others or yourself (or threaten or encourage such abuse or harm) — for example, by misleading, defrauding, illegally impersonating, defaming, bullying, harassing, or stalking others
don’t abuse, harm, interfere with, or disrupt the services — for example, by accessing or using them in fraudulent or deceptive ways, introducing malware, or spamming, hacking, or bypassing our systems or protective measures. </code>
</div>
<br>
<div class="container code">
<code class='code'>This license is for the limited purpose of<br><br>

Operating and improving the services, which means allowing the services to work as designed and creating new features and functionalities. This includes using automated systems and algorithms to analyze your content:
for spam, malware, and illegal content
This analysis occurs as the content is sent, received, and when it is stored.
using content you’ve shared publicly to promote the services. For example, to promote a app, we might quote a review you wrote.
developing new technologies and services for Pwetzel consistent with these terms
This license lasts for as long as your content is protected by intellectual property rights.

If you remove from our services any content that’s covered by this license, then our systems will stop making that content publicly available in a reasonable amount of time.</code>
<br>
<br>
<br>
<div class="container code">
<center>
<code class='code' style=text-align:center>If you think somone may be breaking these terms, or an issue is found please file reports to abuse@pwetzel.xyz</code>
</center>
</div>
    </body>
</html>