<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
              <!-- favicon -->
              <link rel='icon' href='<%= bot.avatar %>' type='image/x-icon' sizes="16x16" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link rel="stylesheet" href="/index.css">        
        <link rel="stylesheet" href="/commands.css">
        <link rel="stylesheet" href="/firefly.css">
        <title><%= bot.name %> - thanks for inviting</title> 
                <!-- FIREFLY ANIMATION -->
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>  
    </head>

    <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

      <%- include('header'); -%>
      <div class="d-flex justify-content-center command_head">
      <h1> Thank You </h1>
      </div>
    </body>
     <%- include('footer'); -%>
</html>